-- CreateTable
CREATE TABLE "BookkeepingPeriod" (
    "id" TEXT NOT NULL,
    "bookkeepingId" TEXT NOT NULL,
    "periodStart" TIMESTAMP(3) NOT NULL,
    "periodEnd" TIMESTAMP(3) NOT NULL,
    "closedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "closedBy" TEXT NOT NULL,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BookkeepingPeriod_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "BookkeepingPeriod_bookkeepingId_idx" ON "BookkeepingPeriod"("bookkeepingId");

-- CreateIndex
CREATE INDEX "BookkeepingPeriod_periodStart_periodEnd_idx" ON "BookkeepingPeriod"("periodStart", "periodEnd");

-- AddForeignKey
ALTER TABLE "BookkeepingPeriod" ADD CONSTRAINT "BookkeepingPeriod_bookkeepingId_fkey" FOREIGN KEY ("bookkeepingId") REFERENCES "Bookkeeping"("id") ON DELETE CASCADE ON UPDATE CASCADE;

